.itemDate {
  font-weight: bolder;
  border-bottom: 2px solid white;
  color: white;
}

.itemJobsContainer {
    height: 154px;
    overflow: auto;
}

.itemJobs {
  width: 100%;
  border-radius: 0;
  font-weight: bolder;
  border-bottom: 1px solid #ffbc00;
}

